name: Refresh

on:
  # Run manually by clicking a button in the UI
  workflow_dispatch:
  schedule:
    - cron: "0 3 * * *" # Runs every day at 3am

jobs:
  refresh:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger GitHub pages rebuild
        run: |
          curl --fail --request POST \
            --url https://api.github.com/repos/${{ github.repository }}/pages/builds \
            --header "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}"
